/* Add styles to all elements */
* {
	margin: 0; /* remove default margin from all elements */
	padding: 0; /* remove default padding from all elements */
	box-sizing: border-box; /* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

/* Write your CSS below (feel free to change the styles already here) */
body {
	font-family: monospace;
	background-color: lightblue;
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding: 20px;
	border-top: 5px solid darkblue;
}
.Title {
font-size: 48px;
background-color: white;
}
.Heading{
font-size: 24px;
background-color:gray;
}
.Body{
font-size: 18px;
}
.Heading:hover{
	font-size: 40px;
}
.Heading:active{
	letter-spacing: 1em;
}
