/* Add styles to all elements */
* {
	margin: 0; /* remove default margin from all elements */
	padding: 0; /* remove default padding from all elements */
	box-sizing: border-box; /* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

body {
	font-family: monospace;
	background-color: lightblue;
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding: 20px;
	border-top: 5px solid darkblue;
}
.Title {
font-size: 48px;
background-color: white;
}
.Heading{
font-size: 24px;
background-color:gray;
}
.Body{
font-size: 18px;
}
.Heading:hover{
	font-size: 30px;
}
.Body:active{
	background-color: pink;
}

.box-3d {
position: absolute;
top: 30px;
left: 30px;
width: 280px;
padding: 20px;
background: linear-gradient(145deg, #ffffff, #dcdcdc);
border-radius: 12px;
box-shadow: 6px 6px 0px #b5b5b5, 12px 12px 20px rgba(0, 0, 0, 0.15);
transform: perspective(800px) rotateX(5deg) rotateY(-5deg);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.box-3d:hover {
transform: perspective(500px) rotateX(5deg) rotateY(5deg);
box-shadow: 8px 8px 0px #554a4a
}
.box-3d h1 {
font-size: 24px;
}